:root {
  --primary-color: #3d37fa;
  --secondary-color: #8fcbff;
  --sub-main-color: #000000;
  --sub-second-color: white;
}

body {
  font-family: arial;
  margin: 0;
}
.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
header {
  background: var(--primary-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  padding: 0;
}
nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}
nav a {
  color: var(--sub-second-color);
  font-size: 18px;
  background: var(--sub-main-color);
  text-decoration: none;
  padding: 15px;
  border-radius: 0.5rem;
  display: block;
}
/* User data */
.user-data {
  display: flex;
  align-items: center;
  gap: 16px;
}
.user-data p {
  font-weight: 700;
}
.user-data img {
  width: 50px;
  border-radius: 50%;
}
main {
  margin: 30px 0;
}

.google-btn {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
